.pullquote-right:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Baseline correction */
  position: relative;
  top: 6px;
  font-size: 1.4em;
  line-height: 1.45em;
  color: $medium-gray-color;

  width: 45%;
  margin: 1em 0 1em 1.5em;
  float: right;
}
